.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
  }

  .input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    background-color: #6a6a6a;    

    border-radius: 50px;
    bottom: 0;    
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;

    position: absolute;

    transition: .4s;


  }
  
  .slider::before {
    background-color: #fff;
    border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px; 
}
  
  .input:checked + .slider {
    background-color: #335ed7;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #335ed7;
  }

  .input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }