.skeleton {
    height: 170px;
    width: 210px;
}

.thumb,
.title, 
.txt {
    animation: 2s ease-in-out 0.5s infinite normal loading;
    background-color: rgba(0, 0, 0, .12);
    border-radius: 4px;
    display: block;
}

.thumb {
    height: 65%;
}

.body {
    margin-top: .75rem;
}

.title,
.txt {
    height: 14px;
}

.txt {
    margin-top: .5rem;
    width: 60%;
}


@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}